# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/*

# sketches
sketches/

# Dotenv file
.env

# Ignore OSX system files
.DS_Store

# dont commit flattened source code
/flattened

# python
venv/
__pycache__/
*.py[cod]

# abis
abis/
