NETHERMIND_RPC_URL=http://localhost:8545
LBP_INDEXER_URL=http://localhost:3000
DATABASE_URL=postgresql://user:password@localhost:5432/db
MAX_TRUSTED=10000
CHANGE_THRESHOLD=100
UPDATE_INTERVAL=1800
UPDATE_MAX_OFFSET=300
