# GNOSIS Network RPC URLs
RPC_URL_GNOSIS='https://rpc.gnosischain.com'
# group addresses
ALL_TRACKED_GROUPS=[
    "0xc164522ebc7e6a8b4b08878cf9e330cfebf4850a", # group3 test LBP group
    "0xf96131552f5e3ed60f359511ccf6c57662f7f937"  # Circles Lisboa group
]
GROUP_ADDRESS="0xf96131552f5e3ed60f359511ccf6c57662f7f937" # Circles Lisboa group
# Private key for deployment;
PRIVATE_KEY_GNOSIS="your-private-key"
