# GNOSIS Network RPC URLs
RPC_URL_GNOSIS='https://rpc.gnosischain.com'

# Private key for deployment;
PRIVATE_KEY_GNOSIS="your-private-key"

HUMAN_SAFE_OWNER_PRIVATE_KEY="your private key here"
HUMAN_SAFE_ADDRESS="your SAFE address here"
HUB_ADDRESS="0xc12C1E50ABB450d6205Ea2C3Fa861b3B834d13e8"
